#contact{
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 2%;
}

label, input, textarea, button, .message-error{
    margin: 10px;
}

.message-error{
    width:100%;
}

.controls{
    padding: 15px;
}