<div class="row">
  <div class="col-12">

      <ddr-tabs class="text-center">
          <ddr-tab-item [title]="'label.menu.personal.data' | translate">          
              <app-personal-data></app-personal-data>
          </ddr-tab-item>
          <ddr-tab-item [title]="'label.menu.studies' | translate">
              <app-studies></app-studies>
          </ddr-tab-item>
          <ddr-tab-item [title]="'label.menu.courses' | translate">
            <app-courses></app-courses>
          </ddr-tab-item>
          <ddr-tab-item [title]="'label.menu.experience' | translate">
              <app-experiences></app-experiences>
          </ddr-tab-item>
          <ddr-tab-item [title]="'label.recommendations' | translate">
              <app-letter-recommendation></app-letter-recommendation>
          </ddr-tab-item>
          <ddr-tab-item [title]="'label.languages' | translate">
            <app-languages></app-languages>
        </ddr-tab-item>
      </ddr-tabs>  
  </div>
</div>

