

#works p{
    margin: 0px;
}

#works [class^="col-"], #works [class*=" col-"] {
    padding-left: 0;
}

#works .title{
    font-size: 24px;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-container > [class*='col-'] {
    display: flex;
    flex-direction: column;
}

.pagination-footer{
    position: fixed;
    padding-left: 25%;
    bottom: 0;
    font-size: 20px;
}