
<div class="row">
  <div class="col-12">
      <p-table
          [value]="studies"
          [rowHover]="true">
      
          <ng-template pTemplate="header">
              <tr>
                <th>{{'label.date' | translate}}</th>
                <th>{{'label.place' | translate}}</th>
                <th>{{'label.title' | translate}}</th>
                <th>{{'label.note' | translate}}</th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-st>
              <tr class="p-selectable-row">
                <td>
                  <span class="font-weight-bold p-column-title">{{'label.date' | translate}}</span>
                  {{st.range | translate}}
                </td>
                <td>
                  <span class="font-weight-bold p-column-title">{{'label.place' | translate}}</span>
                  <span class="p-column-value">{{st.place | translate}}</span>
                </td>
                <td>
                  <span class="font-weight-bold p-column-title">{{'label.title' | translate}}</span>
                  <span class="p-column-value">{{st.title | translate}}</span>
                </td>
                <td>
                  <span class="font-weight-bold p-column-title">{{'label.note' | translate}}</span>
                  {{st.note | translate}}
                </td>
              </tr>
          </ng-template>
      </p-table>
  </div>
</div>
