
<div class="row">
    <div class="col-12">
        <p-table
            [value]="personalData"
            [rowHover]="true">
        
            <ng-template pTemplate="header">
                <tr>
                    <th>{{'label.field' | translate}}</th>
                    <th>{{'label.value' | translate}}</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-pd>
                <tr class="p-selectable-row">
                    <td>
                        <span class="font-weight-bold p-column-title">{{'label.field' | translate}}</span>
                        {{pd.columnDisplay | translate}}
                    </td>
                    <td>
                        <span class="font-weight-bold p-column-title">{{'label.value' | translate}}</span>
                        {{pd.columnValue | translate}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>

