
.content{
    padding-top: 2%;
    padding-left: 5%;
    padding-right: 5%;


}

@media (max-width: 767px){

    .content{
        overflow: hidden;
    }

}

@media (min-width: 768px){

    .content{
        height: 94%;
        overflow: auto;
    }

    .panel-left{
        overflow: hidden;
    }

}