html, body {
    overflow-x:hidden 
} 

html body .content{
    padding: 2% !important;
}

@media (max-width: 767px){

    .content{
        overflow: hidden;
    }

}

@media (min-width: 768px){

    .content{
        height: 100%;
        overflow: auto;
        overflow-x: hidden;
    }

    .panel-left{
        overflow: hidden;
    }

}

ddr-detail app-menu .nav-link {
    color: #000;
}