
.circle-photo{
    border-radius: 50%;
}

#sidebar{
    background: #000;
    height: 100%;
    z-index: 1;
}


@media (min-width:768px){
    #sidebar{
        position: fixed;
    }
}

@media (max-width:768px){
    #sidebar{
        position: none;
    }
}




#sidebar h1, #sidebar h2{
    color: #fff;
    text-align: center;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}

.btn-facebook:hover {
    color: #fff;
    background-color: #2d4373;
    border-color: rgba(0,0,0,0.2);
}

.btn-linkedin {
    color: #fff;
    background-color: #007bb6;
    border-color: rgba(0,0,0,0.2);
}

.btn-linkedin:hover {
    color: #fff;
    background-color: #005983;
    border-color: rgba(0,0,0,0.2);
}

.btn-youtube{
    color: #fff;
    background-color: #ff0000;
    border-color: rgba(0,0,0,0.2);
}

.btn-youtube:hover{
    color: #fff;
    background-color: #ff0000d7;
    border-color: rgba(0,0,0,0.2);
}

.btn-twitter {
    color: #fff;
    background-color: #55acee;
    border-color: rgba(0,0,0,0.2);
}

.btn-twitter:hover {
    color: #fff;
    background-color: #2795e9;
    border-color: rgba(0,0,0,0.2);
}

 
.btn-globe{
    color: rgb(255, 255, 255);
    background-color: #665c5c;
    border-color: rgba(0,0,0,0.2);
}

.btn-globe:hover{
    color: #333;
    background-color: #534a4a;
    border-color: rgba(0,0,0,0.2);
}