



.progress-content{
    position: relative;
    margin: 20px auto;
    font-size: 40px;
    margin: 0;
}

.text-circle-center{
    transform: translateY(280%) translateX(38%);
}

h1{
    text-align: center;
    text-decoration: underline;
}

.progress{
    height: 26px;
    background: rgba(0,0,0,0.1);
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 40px;
    overflow: visible;
    position: relative;
}
.progress .progress-bar{
    box-shadow: none;
    border-radius: 0;
    position: relative;
    -webkit-animation: 2s linear 0s normal none infinite running progress-bar-stripes,animate-positive 1s;
    animation: 2s linear 0s normal none infinite running progress-bar-stripes,animate-positive 1s;
}
.progress-bar .progress-value{
    width: 150px;
    height: 100%;
    background: #000;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    position: absolute;
    line-height: 27px;
    top: 0;
    left: 0;
}

.progress:after,
.progress .progress-bar:after,
.progress .progress-value:after{
    content: "";
    border-left: 13px solid rgba(0,0,0,0.1);
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    position: absolute;
    top: 0;
    right: -13px;
}
.progress.red .progress-bar:after{ border-left-color: #dc3545; }
.progress .progress-value:after{ border-left: 13px solid #000; }
.progress.blue .progress-bar:after{ border-left-color: #17a2b8; }
.progress.yellow .progress-bar:after{ border-left-color: #ffc107; }
.progress.green .progress-bar:after{ border-left-color: #28a745; }
@-webkit-keyframes animate-positive{
    0%{ width: 0; }
}
@keyframes animate-positive{
    0%{ width: 0; }
}