<div id="skills" class="col-12 h-100">
  <ng-container *ngIf="load">
    <ng-container *ngFor="let skill of skills">
      <div class="progress" [ngClass]="skill.class_color.color">
        <div class="progress-bar progress-bar-striped active" [ngClass]="skill.class_color.class_progress" [ngStyle]="{'width.%': skill.valor}">
          <div class="progress-value">{{skill.nombre+' ('+skill.valor+'%)'}}</div>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <div class="h-100" *ngIf="!load">
    <div class="spinner">
      <img src="./assets/img/spinner.gif" />
    </div>
  </div>

</div>


