@font-face {
    font-family: 'ubuntu-regular';
    src: url('./assets/fonts/Ubuntu-Regular.ttf');
}

html, body{
    height: 100%;
}

body{
    overflow-x: hidden;
}

@media (max-width: 568px){
    .p-column-value{
        text-align: right;
        margin-left: 5%;
    }
}
  

